.stock-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 30px 0px;
  background-color: #293745;
}

.stocks-title{
  color: whitesmoke;
}

.search-div{
  display: flex;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
}

.search-div > input{
  width: 100%;
  padding: 8px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-div > input:focus{
  outline: none;
}
.search-div > button{
  padding: 9px;
  height: 100%;
}

.search-div > button:hover{
  cursor: pointer;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  flex-direction: column;
  width: 90%;
  box-sizing: border-box;
  padding: 20px;
  color: whitesmoke;
}

.stock-details, .stocks-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  1fr 1fr;
  gap: 20px;
  width: 100%;
}

.stocks-header{
  width: 100%;
}

.stocks-header > h3{
  width: 100%;
  text-align: center;
  color: #3CACD7;
}


.stock-details-p{
  font-weight: 600;
}


.stock-grid {
  border: 1px solid rgba(128, 128, 128, 0.537);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 6px 0px;
  transition: 0.1s ease-in;
  border-radius: 6px;
}

.stock-grid:hover {
  scale: 1.01;
  cursor: pointer;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.12);
}



